
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
    <servlet>
        <servlet-name>HalloServlet</servlet-name>
        <servlet-class>belajar.servlet.HelloServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HalloServlet</servlet-name>
        <url-pattern>/coba</url-pattern>  <!-- link dinamis yang akan di kirim ke halo.html -->
    </servlet-mapping>
    
</web-app>